{% extends "base_form.html" %}

{% block title %}Interactive Image Hover{% endblock %}

{% block content_1 %}
  <div id="progress"></div>
  <div id="hide-when-processing-done">
    <p>This may take a few seconds before progress is displayed.</p>
  </div>

  <style>
    .hidden {
      display: none;
    }
  </style>

  <div id="everything" class="hidden">
    <table class="image-table">
      <tr>
        <th>Parameter Space:</th>
        <th>Segmentation:</th>
        <th>Petrographic Thin Section:</th>
      </tr>
      <tr>
        <td>
          <img id="main-img"
               src="/static/output/{{session_id}}/{{counter}}/main_image.png"
               style="image-rendering: pixelated; width: 100%; height: auto;">
        </td>
        <td>
          <div id="preview-img"
               style="
                 width: 100px;
                 height: 100px;
                 background-image: url('/static/output/{{session_id}}/{{counter}}/stitched_tiles.png');
                 background-repeat: no-repeat;
                 background-size: auto;
                 image-rendering: pixelated;
               ">
          </div>
        </td>
        <td>
          <img id="orig-img"
               src="/static/output/{{session_id}}/{{counter}}/cropped.jpg"
               style="image-rendering: pixelated;" />
        </td>
      </tr>
    </table>

    <div style="overflow: hidden;">
      <span style="float: left; margin: 0.5em;">
        <input type="range" id="my-slider" min="100" max="10000" step="10" value="{{min_pore_size}}">
        <span id="slider-value">{{min_pore_size}}</span>
        <button onclick="submitSlider()" class="btn btn-primary">Update</button>
      </span>
    </div>

    <div class="form-group mb-3 w-100">
      <h3>Selected Coordinates</h3>
      <p>
        Move the cursor over the parameter-space image to preview the segmentation.
        Click on a point to label it as suitable.
      </p>
      <ul id="coord-list" class="row list-group"></ul>
    </div>

    <div class="form-group mb-3 w-100">
      <label for="priority" class="form-label">{{ lr.str.priority_field_description }}</label>
      <select name="priority" id="priority">
        <option value="none">-- Select an option --</option>
        <option value="connectivity">I prioritized correct pore connectivity</option>
        <option value="size">I prioritized correct pore size</option>
        <option value="shape">I prioritized correct pore shape</option>
      </select>
    </div>

    <div>
      This screen displays three images.
      The first corresponds to the parameter space, where the X-axis represents
      <em>Black (max)</em> and the Y-axis represents <em>Cyan (min)</em>.
      These parameters define, respectively, the maximum value of the black
      color channel and the minimum value of the cyan color channel that a
      pixel must have to be considered part of a pore.
      The colors in this image indicate the number of connected components
      detected during segmentation using the corresponding parameters:
      red = 1, blue = 2, green = 3, white = 4 or more.
      When moving the cursor over the parameter-space image, the second image
      is updated to show the resulting segmentation, using colors to indicate
      connected components.
      The third image is the cropped region of the original thin-section image,
      which should be compared with the segmentation preview to assess whether
      the segmentation is adequate.
      Clicking on a pixel in the parameter space labels it as suitable.
      This label can be removed later if a mistake is made.
    </div>

    <div style="text-align: right; overflow: hidden; padding: 1em;">
        <button onclick="restart('done')" class="btn btn-primary">Save</button>
        <button onclick="restart('cancel')" class="btn btn-danger">Discard</button>
    </div>

    <script>
      const clickedPoints = {{ clicked_points | tojson }};
      let tile_shape = {{ tile_shape | tojson }};
      const metadata = {{ metadata | tojson }};
      const filename = {{ filename | tojson }};
      const counter = {{ counter | tojson }};
      const lr = { str: {
        processing: "{{ lr.str.processing }}",
        finished_processing: "{{ lr.str.finished_processing }}",
        progress: "{{ lr.str.progress }}"
      }};
    </script>
  </div>
{% endblock %}