{% extends "base_form.html" %}

{% block title %}User Information{% endblock %}

{% block content_1 %}
<script>
    const user = {{ user | tojson }};
</script>

<h2 class="mb-4">User Information</h2>

<form method="POST">
    <div class="form-group mb-3 w-100">
        <label for="experience">
            Please select the option that best describes your background.
        </label>
        <select name="experience" id="experience" class="w-100">
            <option value="0" {% if user.experience == 0 %}selected{% endif %}>
                [select an option]
            </option>
            <option value="1" {% if user.experience == 1 %}selected{% endif %}>
                1 - no experience
            </option>
            <option value="2" {% if user.experience == 2 %}selected{% endif %}>
                2 - I am studying the subject
            </option>
            <option value="3" {% if user.experience == 3 %}selected{% endif %}>
                3 - done this a few times
            </option>
            <option value="4" {% if user.experience == 4 %}selected{% endif %}>
                4 - I work in a related area
            </option>
            <option value="5" {% if user.experience == 5 %}selected{% endif %}>
                5 - I work with this all the time
            </option>
        </select>
    </div>

    <div class="form-group text-end">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}