.env
.git
.gitignore
.ipynb_checkpoints
.pdm-python
.venv
__pycache__
*.py[cod]
log
remote-static
session.json
session.json.corrupted
static/imgs_sections/**/*.jpg
static/imgs_sections/**/*.jpeg
static/imgs_sections/**/*.png
static/output
static/output.uncommitted
